## Reading User Data

In [42]:
from IPython.display import HTML
import urllib3
from bs4 import BeautifulSoup
import numpy as np
import pandas as pd

In [10]:
coloumn_names = ['user_id', 'age', 'gender','occupation', 'zip_code' ]
users = pd.read_csv('http://files.grouplens.org/datasets/movielens/ml-100k/u.user', sep = '|', names=coloumn_names )
users.head()

   user_id  age gender  occupation zip_code
0        1   24      M  technician    85711
1        2   53      F       other    94043
2        3   23      M      writer    32067
3        4   24      M  technician    43537
4        5   33      F       other    15213

## User Ratings

In [14]:
coloumn_names = ['user_id','movie_id','ratings','unix_timestamp']
ratings = pd.read_csv('http://files.grouplens.org/datasets/movielens/ml-100k/u.data', sep='\t', names = coloumn_names)
ratings.head()

   user_id  movie_id  ratings  unix_timestamp
0      196       242        3       881250949
1      186       302        3       891717742
2       22       377        1       878887116
3      244        51        2       880606923
4      166       346        1       886397596

## Reading Movies Data

In [22]:
# m_cols = ['movie_id', 'title', 'release_date', 
#             'video_release_date', 'imdb_url']
# movies = pd.read_csv(
#     'http://files.grouplens.org/datasets/movielens/ml-100k/u.item', 
#     sep='|', names=m_cols )

# movies.head()

## Selecting Data

In [32]:
users_subfrmae = users['occupation'].head()
users_subfrmae

0    technician
1         other
2        writer
3    technician
4         other
Name: occupation, dtype: object

## Filtering

In [35]:
older_users = users[users.age > 25]
older_users.head()

   user_id  age gender     occupation zip_code
1        2   53      F          other    94043
4        5   33      F          other    15213
5        6   42      M      executive    98101
6        7   57      M  administrator    91344
7        8   36      M  administrator    05201

## Data scraping

In [62]:
url = 'http://www.crummy.com/software/BeautifulSoup'
urllib3.disable_warnings()
http = urllib3.PoolManager()
response = http.request('GET', url)
soup = BeautifulSoup(response.data)
## Makes the document pretty
pretty_data = soup.prettify()

link_list = [l.get('href') for l in soup.findAll('a')]

### Getting the http links only

In [64]:
external_links = []
for l in link_list:
    if l is not None and l[:4] == 'http':
        external_links.append(l)
external_links

['https://code.launchpad.net/beautifulsoup',
 'https://bazaar.launchpad.net/%7Eleonardr/beautifulsoup/bs4/view/head:/CHANGELOG',
 'https://groups.google.com/forum/?fromgroups#!forum/beautifulsoup',
 'https://tidelift.com/subscription/pkg/pypi-beautifulsoup4?utm_source=pypi-beautifulsoup4&utm_medium=referral&utm_campaign=website',
 'https://groups.google.com/forum/?fromgroups#!forum/beautifulsoup',
 'https://bugs.launchpad.net/beautifulsoup/',
 'http://lxml.de/',
 'http://code.google.com/p/html5lib/',
 'http://www.crummy.com/software/BeautifulSoup/bs3/documentation.html',
 'http://www.nytimes.com/2007/10/25/arts/design/25vide.html',
 'https://github.com/reddit/reddit/blob/85f9cff3e2ab9bb8f19b96acd8da4ebacc079f04/r2/r2/lib/media.py',
 'http://www.harrowell.org.uk/viktormap.html',
 'http://svn.python.org/view/tracker/importer/',
 'http://www2.ljworld.com/',
 'http://www.b-list.org/weblog/2010/nov/02/news-done-broke/',
 'http://esrl.noaa.gov/gsd/fab/',
 'http://laps.noaa.gov/topograbber/',
 'http://groups.google.com/group/beautifulsoup/',
 'https://launchpad.net/beautifulsoup',
 'https://code.launchpad.net/beautifulsoup/',
 'https://bugs.launchpad.net/beautifulsoup/',
 'http://creativecommons.org/licenses/by-sa/2.0/',
 'http://creativecommons.org/licenses/by-sa/2.0/',
 'http://www.crummy.com/',
 'http://www.crummy.com/software/',
 'http://www.crummy.com/software/BeautifulSoup/']